body {
  background: var(--awesome-ui-default-color-background);
  color: var(--awesome-ui-default-color-main);
  margin: 0;
}

@import url(./global.default.css);
@import url(./global.soft.css);

:root {
  -webkit-tap-highlight-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}
