@import url(../../utils/normalization.css);

:host {
  -webkit-tap-highlight-color: transparent;
  display: block;
  position: relative;
  margin: var(--awesome-ui-soft-whitespace-sm);
  padding: var(--awesome-ui-soft-whitespace-lg);
  border-radius: var(--awesome-ui-soft-border-radius-lg);
  background: var(--awesome-ui-soft-color-background);
  box-shadow: 0 var(--awesome-ui-soft-shadow-offset-sm) var(--awesome-ui-soft-shadow-blur-md) 0 var(--awesome-ui-soft-color-shadow);
  transition: box-shadow 0.3s;
}

:host([button]) {
  cursor: pointer;
}

:host([button]:hover) {
  box-shadow: 0 var(--awesome-ui-soft-shadow-offset-sm) var(--awesome-ui-soft-shadow-blur-lg) 0 var(--awesome-ui-soft-color-shadow);
}

:host([button]:active) {
  box-shadow: inset 0 var(--awesome-ui-soft-shadow-offset-sm) var(--awesome-ui-soft-shadow-blur-md) 0 var(--awesome-ui-soft-color-shadow);
}
