@import url(../../utils/normalization.css);

:host {
  display: block;
}

[part='container'] {
  position: fixed;
  left: 50%;
  top: 50%;
  height: auto;
  width: auto;
  transform: translate(-50%, -50%);
  padding: var(--awesome-ui-whitespace-md);
  background: var(--awesome-ui-color-background);
  border-radius: var(--awesome-ui-border-radius-lg);
  box-shadow: 0 var(--awesome-ui-shadow-offset-lg) var(--awesome-ui-shadow-blur-xl) 0 var(--awesome-ui-color-dim);
}

[part='header'] {
  font-size: 1.5em;
  padding: var(--awesome-ui-whitespace-md) 0;
}

[part='backdrop'] {
  background: var(--awesome-ui-color-background);
  opacity: 0.5;
}
