:host {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: var(--awesome-ui-whitespace-md);
  background: var(--awesome-ui-color-background);
  border-radius: var(--awesome-ui-border-radius-lg);
  box-shadow: 0 var(--awesome-ui-shadow-offset-lg) var(--awesome-ui-shadow-blur-xl) 0 var(--awesome-ui-color-dim);
}

:host([active]) {
  display: block;
}

[part='header'] {
  font-size: 1.5em;
  padding: var(--awesome-ui-whitespace-md) 0;
}
