:host {
  display: inline-block;
  padding: var(--awesome-ui-whitespace-sm);
  color: var(--awesome-ui-color-main);
  background: var(--awesome-ui-color-primary);
  border-radius: var(--awesome-ui-border-radius-lg);
  user-select: none;
}
