@import url(../../utils/normalization.css);

:host {
  display: inline-block;
  padding: var(--awesome-ui-default-whitespace-sm);
  color: var(--awesome-ui-default-color-main);
  background: var(--awesome-ui-default-color-primary);
  border-radius: var(--awesome-ui-default-border-radius-lg);
  user-select: none;
}
