:host {
  display: inline-block;
  user-select: none;
  cursor: pointer;
  padding: var(--awesome-ui-whitespace-md);
  color: var(--awesome-ui-color-main);
  transition: color 0.3s;
}

:host([selected]) {
  color: var(--awesome-ui-color-primary);
}
