@import url(../../utils/normalization.css);

:host {
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  margin: 0.5rem 0;
}

div {
  --disposition: calc(-1 * (var(--awesome-ui-soft-shadow-offset-sm) - 1px));

  display: block;
  height: 10px;
  background: transparent;
  margin: 0 var(--disposition);
  box-shadow: 0 var(--awesome-ui-soft-shadow-offset-sm) var(--awesome-ui-soft-shadow-blur-sm) var(--disposition) var(--awesome-ui-soft-color-main);
  transform: translateY(-10px);
}
