:host {
  display: block;
  position: relative;
  width: 100%;
  cursor: default;
  padding: var(--awesome-ui-whitespace-md);
  border-radius: var(--awesome-ui-border-radius-md);
  box-shadow: 0 10px 5px -10px var(--awesome-ui-color-dim);
  user-select: none;
  transition: box-shadow 0.1s;
}

:host([button]) {
  cursor: pointer;
}
:host([button]:hover) {
  box-shadow: 0 5px 15px -3px var(--awesome-ui-color-dim);
}

:host([button]:active) {
  box-shadow: inset 0 2px 30px -5px var(--awesome-ui-color-dim);
}
