:host,
:host([color='primary']) {
  --primary-color: #3880ff;
  --secondary-color: #4c8dff;
  --tertiary-color: #3171e0;
  --contrast-color: #fff;
}

:host([color='secondary']) {
  --primary-color: #3dc2ff;
  --secondary-color: #50c8ff;
  --tertiary-color: #36abe0;
  --contrast-color: #fff;
}

:host([color='tertiary']) {
  --primary-color: #5260ff;
  --secondary-color: #6370ff;
  --tertiary-color: #4854e0;
  --contrast-color: #fff;
}

:host([color='success']) {
  --primary-color: #2dd36f;
  --secondary-color: #42d77d;
  --tertiary-color: #28ba62;
  --contrast-color: #fff;
}

:host([color='warning']) {
  --primary-color: #ffc409;
  --secondary-color: #e0ac08;
  --tertiary-color: #e0ac08;
  --contrast-color: #000;
}

:host([color='danger']) {
  --primary-color: #eb445a;
  --secondary-color: #ed576b;
  --tertiary-color: #cf3c4f;
  --contrast-color: #fff;
}

:host([color='dark']) {
  --primary-color: #222428;
  --secondary-color: #383a3e;
  --tertiary-color: #1e2023;
  --contrast-color: #fff;
}

:host([color='medium']) {
  --primary-color: #92949c;
  --secondary-color: #9d9fa6;
  --tertiary-color: #808289;
  --contrast-color: #fff;
}

:host([color='light']) {
  --primary-color: #f4f5f8;
  --tertiary-color: #d7d8da;
  --secondary-color: #f5f6f9;
  --contrast-color: #000;
}
