:host {
  --primary-color: #3880ff;
  --secondary-color: #4c8dff;
  --tertiary-color: #3171e0;
  --contrast-color: #fff;

  --border-radius-sm: 0.1rem;
  --border-radius-md: 0.25rem;
  --border-radius-lg: 0.5rem;

  --padding-sm: 0.25rem;
  --padding-md: 0.5rem;
  --padding-lg: 1rem;
}
